.form {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    animation: fadeIn 0.6s ease forwards;
    opacity: 0;
}

/* Коли форма активна */
.formActive {
    opacity: 1;
    transform: translateY(0);
}

/* Анімація появи */
@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}